.Bg-img {
    background-image: url('https://ultraehp.com/images/Products-Detail-Img/UP100/banner04-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
// .btn-wrap {
//     border: 1px solid #000;
// }

.btn-wrap a {
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: white;
    padding: 4px 5px;
    width: 180px;
    margin: 0 10px;

}
